In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('data/stats_can.db.csv')

In [5]:
df.head()

,REF_DATE,GEO,DGUID,INDEX_TYPE,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1981-01,Canada,2016A000011124,Total (house and land),"Index, 201612=100",347,units,0,v111955442,1.1,38.2,NaN,NaN,NaN,1
1,1981-01,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.1,NaN,NaN,NaN,1
2,1981-01,Canada,2016A000011124,Land only,"Index, 201612=100",347,units,0,v111955444,1.3,40.6,E,NaN,NaN,1
3,1981-01,Atlantic Region,2016A00011,Total (house and land),"Index, 201612=100",347,units,0,v111955445,2.1,NaN,..,NaN,NaN,1
4,1981-01,Atlantic Region,2016A00011,House only,"Index, 201612=100",347,units,0,v111955446,2.2,NaN,..,NaN,NaN,1

In [11]:
sliced = df.loc[(df['GEO'] == 'Canada') & (df['INDEX_TYPE'] == 'House only')]

In [12]:
sliced.head()

,REF_DATE,GEO,DGUID,INDEX_TYPE,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
1,1981-01,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.1,NaN,NaN,NaN,1
121,1981-02,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.5,NaN,NaN,NaN,1
241,1981-03,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,37.3,NaN,NaN,NaN,1
361,1981-04,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,38.1,NaN,NaN,NaN,1
481,1981-05,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,38.9,NaN,NaN,NaN,1